.colorSelectDialog {
  z-index: 99999999999;
  position: fixed;
  font-family: Arial;
}
.colorSelectDialogBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: 0.5;
}
.colorSelectDialogBox {
  position: fixed;
  top: 50%;
  left: 50%;
  width: calc(100% - 200px);
  max-width: fit-content;
  max-height: fit-content;
  height: calc(100vh - 50px);
  background: white;
  padding: 10px 10px;
  border-radius: 5px;
  color: black;
  transform: translate(-50%, -50%);
  min-width: 200px;
  min-height: 200px;
  overflow: scroll;
}

.colorSelectHeader {
  font-size: 35px;
  font-weight: bold;
}

.colorSelectLabel {
  font-weight: bold;
}

.colorSelectPreviewBox {
  width: 170px;
  height: 170px;
  border-radius: 4px;
  color: white;
  line-height: 170px;
  text-align: center;
  font-weight: bold;
}

.colorSelectColorDiv {
  width: 32px;
  height: 32px;
  flex-grow: 0;
  border-radius: 4px;
  color: red;
  border-color: black;
  border-style: solid;
  border-width: 2px;
}
.colorSelectColorDiv:hover {
  filter: brightness(1.2);
  border-color: gray;
  cursor: pointer;
}
.colorSelectColorDiv:active {
  border-color: white;
}

.colorSelectPickRainbowContainer {
  width: 500px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.colorSelectPickRainbowContainer2 {
  width: 500px;
  height: fit-content;
  overflow: auto;
}

.colorSelectButton {
  all: unset;
  background: #006eff;
  border-radius: 4px;
  padding: 3px 3px;
  font-weight: bold;
  color: white;
  margin: 2px 2px;
}

.colorSelectButton:hover {
  background: #5ca3ff;
  cursor: pointer;
}

.colorSelectCursorCanvas {
  image-rendering: pixelated;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  cursor: crosshair;
  width: 125px;
  height: 125px;
}

.colorSelectDropContainer {
  width: 125px;
  height: 125px;
  position: absolute;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  pointer-events: none;
}
.colorSelectDrop {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  border: 2px solid white;
  border-radius: 50%;
  box-shadow:
    0 0 0 1.5px black,
    inset 0 0 0 1.5px black;
  transform: translate(-50%, -50%);
  background-color: red;
  width: 10px;
  height: 10px;
}

.colorSelectTextInput {
  all: unset;
  background: white;
  border-style: solid;
  border-width: 1.5px;
  border-color: gray;
  width: fit-content;
  height: fit-content;
  border-radius: 2px;
  cursor: text;
  padding: 1px 1px;
  text-align: left;
}
