@font-face {
  font-family: BeachDay;
  src: url(fonts/beachday.ttf?n=1);
}
@font-face {
  font-family: ChildHood;
  src: url(fonts/childhood.ttf?n=1);
}
@font-face {
  font-family: Mochibop;
  src: url(fonts/mochibop.ttf?n=1);
}
@font-face {
  font-family: SNESS;
  src: url(fonts/sness.ttf?n=1);
}
@font-face {
  font-family: IHateComicSans;
  src: url(fonts/ihatecomicsans.ttf?n=1);
}
@font-face {
  font-family: UglyHandwriting;
  src: url(fonts/uglyhandwriting.ttf?n=1);
}
@font-face {
  font-family: Pops;
  src: url(fonts/pops.ttf?n=1);
}
@font-face {
  font-family: Callisburg;
  src: url(fonts/callisburg.ttf?n=1);
}
@font-face {
  font-family: BlockyBest;
  src: url(fonts/blockybest.ttf?n=1);
}
@font-face {
  font-family: Pxl;
  src: url(fonts/pxl.ttf?n=1);
}
@font-face {
  font-family: Baiser;
  src: url(fonts/baiser.ttf?n=1);
}
@font-face {
  font-family: BlockCraft;
  src: url(fonts/blockcraft.ttf?n=1);
}
@font-face {
  font-family: TheBombSound;
  src: url(fonts/thebombsound.ttf?n=1);
}
@font-face {
  font-family: TheCursiveFont;
  src: url(fonts/thecursivefont.ttf?n=1);
}
@font-face {
  font-family: AlliciaPersonalUse;
  src: url(fonts/alliciapersonaluse.ttf?n=1);
}
@font-face {
  font-family: JollyCheer;
  src: url(fonts/jollycheer.ttf?n=1);
}
@font-face {
  font-family: JustSquash;
  src: url(fonts/justsquash.otf?n=1);
}
@font-face {
  font-family: BeautifulAlethaDemo;
  src: url(fonts/beautifulalethademo.ttf?n=1);
}

@font-face {
  font-family: ScholarBlock;
  src: url(fonts/scholarblock.ttf?n=1);
}

@font-face {
  font-family: PermanentMarker;
  src: url(fonts/permanentmarker.ttf?n=1);
}

@font-face {
  font-family: SoccerLeague;
  src: url(fonts/soccerleague.ttf?n=1);
}

@font-face {
  font-family: Analogy;
  src: url(fonts/analogy.ttf?n=1);
}

@font-face {
  font-family: Gerion;
  src: url(fonts/gerion.otf?n=1);
}

@font-face {
  font-family: RustedVibe;
  src: url(fonts/rustedvibe.otf?n=1);
}

@font-face {
  font-family: BelugaRoad;
  src: url(fonts/belugaroad.otf?n=1);
}

@font-face {
  font-family: HeavyJack;
  src: url(fonts/heavyjack.otf?n=1);
}

@font-face {
  font-family: BadgeRobo;
  src: url(fonts/badgerobo.otf?n=1);
}

@font-face {
  font-family: BigPartyO2-Black;
  src: url(fonts/BigPartyO2-Black.ttf?n=1);
}

@font-face {
  font-family: Pacifico-Regular;
  src: url(fonts/Pacifico-Regular.ttf?n=1);
}
